body {
	background-color: black;
	margin: 0;
}

#Main{
	width:100%;
	height: 2000px;
	position: absolute;
	background-image: url("marble.jpg");
	margin: 0 auto;
}

#Wrapper {
	width: 50%;
	height: 2000px;
	background-image: url("blossom.jpg");
	margin: 0 auto;
	border-radius: 25px;
}

h1{
	text-align: center;
	font: hebrew;
	font-size: 42px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#Nav {
	width: 100%;
	height: 400px;
	background-color: red;
	margin-top: 7%;
}

embed{
	position: absolute;
	background-color: blue;
}

#butone {
	float: right;
}